<h2>fake car rental service management:</h2>

<a href="/user/vehicle-list"><span class="menu-element">Vehicle list</span></a> |
<a href="#"><span class="menu-emenet">Get acccess code</span></a> |
<a href="/admin"><span class="menu-emenet">Administration panel</span></a>
