#sidebar {

  width: 200px;
  box-sizing: border-box;
  height: 100vh;
  background-color: #dfdfdf;
  padding: 20px;
  border-right: 1px solid #b5b5b5;

  h4 {
    font-size: 18px;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 16px;
    display: block;
    margin: 0 0 6px 0;
    padding: 0;
  }

  span {
    font-size: 14px;
    display: block;
    margin-left: 10px;

    a {
      color: #003f7f;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    i {
      color: #afafaf;
      margin-right: 6px;
    }

  }



}