{% extends 'base.html.twig' %}
{% block body %}
    <div ng-controller="VehicleController">

        <div ng-if="errorMessage" class="error-message">
            {[{ errorMessage }]}
        </div>

    <table class="vehicleTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Pojazd</th>
            <th>Paliwo</th>
            <th>Blacha</th>
            <th>W serwisie</th>
            <th>W w użyciu</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="vehicle in vehicles">
            <td>{[{ vehicle.id }]}</td>
            <td>{[{ vehicle.brand }]} {[{vehicle.type}]}</td>
            <td>{[{ vehicle.fuelType }]}</td>
            <td>{[{ vehicle.plate }]}</td>
            <td>{[{ vehicle.inMaintenance == 1 ? 'Tak' : 'Nie' }]}</td>
            <td></td>
            <td>
                  <span ng-if="vehicle.inMaintenance == 1">
                        <a href="/admin/vehicle-return?vehicleId={[{ vehicle.id }]}"><input class="button green" type="button" value="zwróć"></a>
                  </span>

                <span ng-if="vehicle.inMaintenance == 0">
                        <a href="/admin/vehicle-return?vehicleId={[{ vehicle.id }]}"><input class="button orange" type="button" value="zarezerwuj"></a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}



