
  <h4>fake car rental service management</h4>
  <hr>

  <p>pojazdy</p>
  <span><i class="fas fa-external-link-square-alt"></i> <a href="/admin/vehicle-add">dodaj pojazd</a></span>
  <span><i class="far fa-hand-point-right"></i> <a href="/admin/vehicle-list">index pojazdów</a></span>

  <hr>
  <p>klienci</p>
  <span><i class="fas fa-phone-volume"></i> <a href="/admin/customer-add">dodaj użytkownika pojazdu</a></span>
  <span><i class="fas fa-broadcast-tower"></i> <a href="#">index klientów</a></span>

  <hr>
  <p>konfiguracje</p>
  <span><i class="fas fa-external-link-square-alt"></i> <a href="/admin/brand-add">dodaj markę pojazdu</a></span>
  <span><i class="far fa-hand-point-right"></i> <a href="#">index pojazdów</a></span>

  <hr>
  <span><i class="fas fa-sign-out-alt"></i> <a href="/logout">wyloguj</a></span>