#container {

  #sidebar {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(to right, #aaa7e5, #0ac0ce);
    border-bottom: 1px solid black;

    h2 {
      font-size: 18px;
      padding: 0;
      display: inline-block;
      margin: 0 40px 0 0;
    }

  }
}