<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('front_app') }}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/angular.min.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
{#        {{ encore_entry_script_tags('app') }}#}
    {% endblock %}

</head>
<body>

    <div id="container"  ng-app="vehicleApp" ng-controller="VehicleController">
        <div id="sidebar">{% include 'component/sidebar.html.twig' %}</div>
        <div id="content">{% include 'user/vehicle-list.html.twig' %}</div>
    </div>

</body>
</html>
